.toolbar {
    background-color: brown;
    color:black;
    justify-content: center;
    font-size: 27px;
    padding-left: 5px;
    font-weight: bolder;
    
}

.tabbar {
    background-color: brown;
}

#carousel {
    height: 80%;
}


    