<ons-page id="category">
  
    <div>
     

      <ons-list id="categoryType">
        <ons-list-header>Category</ons-list-header>
        <ons-list-item style="grid-auto-rows: max-content;">
          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
             <p style="text-align: center;" onclick="showMovie('romantics')">Romantic</p>
            </ons-col>
          </ons-row>

          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
              <p style="text-align: center;">Action</p>
            </ons-col>
          </ons-row>

          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
              <p style="text-align: center;" onclick="showMovie('horror')">Horror</p>
            </ons-col>
          </ons-row>
          <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;" onclick="showMovie('comedys')">Comedy</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;" >Thriller</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;" >Drama</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Anime</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Fantacy</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Series</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Science</p>
              </ons-col>
            </ons-row>
        </ons-list-item>
      </ons-list>

      <h3 id="categoryName" >
      </h3>
      <div style="width: 100%;">
  
        <div id="movieType">

         

        </div>
      </div>
      
  </ons-page>