<ons-page id="category">
    <ons-page>
      <div>
       
  
        <ons-list>
          <ons-list-header>Category</ons-list-header>
          <ons-list-item style="grid-auto-rows: max-content;">
            <ons-row>
              
              <ons-col style="margin-left: 10px; margin-top: 10px"> Romantic
              </ons-col>
            </ons-row>
  
            <ons-row>
              
              <ons-col style="margin-left: 10px; margin-top: 10px"> Action
              </ons-col>
            </ons-row>
  
            <ons-row>
              
              <ons-col style="margin-left: 10px; margin-top: 10px"> Horror
              </ons-col>
            </ons-row>
            <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Comedy
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Thriller
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Drama
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Anime
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Fantacy
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Series
                </ons-col>
              </ons-row>
              <ons-row>
              
                <ons-col style="margin-left: 10px; margin-top: 10px"> Science
                </ons-col>
              </ons-row>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-page>
  </ons-page>