<ons-page id="category">
  <ons-page>
    <div>
     

      <ons-list>
        <ons-list-header>Category</ons-list-header>
        <ons-list-item style="grid-auto-rows: max-content;">
          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
             <p style="text-align: center;">Romantic</p>
            </ons-col>
          </ons-row>

          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
              <p style="text-align: center;">Action</p>
            </ons-col>
          </ons-row>

          <ons-row>
            
            <ons-col style=" margin-top: 20px"> 
              <p style="text-align: center;" >Horror</p>
            </ons-col>
          </ons-row>
          <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Comedy</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Thriller</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;" >Drama</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Anime</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Fantacy</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Series</p>
              </ons-col>
            </ons-row>
            <ons-row>
            
              <ons-col style=" margin-top: 20px"> 
                <p style="text-align: center;">Science</p>
              </ons-col>
            </ons-row>
        </ons-list-item>
      </ons-list>
    </div>
  </ons-page>
</ons-page>