<ons-page id="Tab4">

  <div>
    <ons-list>
      <ons-list-item style="grid-auto-rows: max-content;">
        <ons-row>
          <ons-col width="100px" style="margin-bottom: 10px;"><img src="images/1.jpg" style="width:100%; height: 100%;">
          </ons-col>
          <ons-col style="margin-left: 10px; margin-top: 10px"> Dora, a teenage explorer, leads her friends on an
            adventure to save her parents and solve the mystery behind a lost city of gold...
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col width="100px" style="margin-bottom: 10px;"><img src="images/2.jpg" style="width:100%; height: 100%;">
          </ons-col>
          <ons-col style="margin-left: 10px; margin-top: 10px"> The second installment of the "Fantastic Beasts"
            series featuring the adventures of Magizoologist Newt Scamander...
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col width="100px" style="margin-bottom: 10px;"><img src="images/3.png" style="width:100%; height: 100%;">
          </ons-col>
          <ons-col style="margin-left: 10px; margin-top: 10px"> T'Challa, heir to the hidden but advanced kingdom of
            Wakanda, must step forward to lead his people into a new future and must confront a challenger from his
            country's past ...
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-fab position="bottom right">
        <ons-icon icon="md-plus"></ons-icon>
      </ons-fab>

    </ons-list>
  </div>

</ons-page>