<ons-page id="home">

  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <div class="picture">

  </div>
  </ons-carousel>
<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-4">
      <br>
      <p><span class="glyphicon glyphicon-plus"></span></p>  
       <p>Add your Favourite</p>
    </div>
    <div class="col-4">
      <br>
      <button type="button" class="btn button--light" style="width: 80px;" onclick="modalPlay()">Play</button>
    </div>
    <div class="col-4">
      <br>
      <p><span class="glyphicon glyphicon-info-sign"></span></p>
      <p>Informations (Story)</p>
    </div>
  </div>
  <h3>
    Top 5 of the week
  </h3>
  <div class="row">
    <div id="list">

    </div>
  </div>
</div>

<ons-modal direction="up">
  <label style="margin-left: 90%; font-size: 15px;" onclick="modalClose()"> x </label>
  <div style="text-align: center">
    
    <video style='width:100%; height:100%' id='' >
      <source src="https://firebasestorage.googleapis.com/v0/b/plearnhub-509b2.appspot.com/o/after-official-trailer-2019-josephine-langford-hero-fiennes-tiffin-movie.mp4?alt=media&token=f7580ca5-3fce-4424-a72b-17c97e569b53" ></video>
  </div>
</ons-modal>

</ons-page>