<ons-page id="home">

  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item
      style="background-image:url('../images/1.jpg');background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
    <ons-carousel-item
      style="background-image:url('../images/2.jpg');background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
    <ons-carousel-item
      style="background-image:url('../images/3.png');background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
  </ons-carousel>

  <h1 style="text-align: center;">
    Top of the week
  </h1>
</ons-page>