<ons-page id="home">

  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <div class="picture">

    <ons-carousel-item 
      style="background-image:url('../images/6.jpg');background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
    <ons-carousel-item
      style="background-image:url('../images/9.jpg');background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
    <ons-carousel-item
      style="background-image:url('../images/5.jpg'); background-repeat: no-repeat;background-size: cover;">

    </ons-carousel-item>
  </div>
  </ons-carousel>
<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-4">
      <br>
      <p><span class="glyphicon glyphicon-plus"></span></p>  
       <p>Add your Favourite</p>
    </div>
    <div class="col-4">
      <br>
      <button type="button" class="btn button--light button--material" >Play</button>
    </div>
    <div class="col-4">
      <br>
      <p><span class="glyphicon glyphicon-info-sign"></span></p>
      <p>Informations (Story)</p>
    </div>
  </div>
</div>

  <h3>
    Top of the week
  </h3>
</ons-page>