<ons-page id="search">
  <ons-page>
    <div>
      <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>
      </p>

      <ons-list>
        <ons-list-header>Search results</ons-list-header>
        <ons-list-item style="grid-auto-rows: max-content;">
          <ons-row style="text-align: center;" id="trailer">
        </ons-list-item>
      </ons-list>
    </div>
  </ons-page>
</ons-page>
